<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monitorme">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <!-- user permissions needed to use this application sucha s read write contacts, use of internet
            access to location services -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- here we set a few rules and image start ups,
            allow backup just means if we want to allow auto back, i have it set to yes but i only back it up to git hub manually.
            icon = the launcher icon, what ever this value is the value you see as the applications icon on the mobile device.
            label = the name of the application itself can be used through out the application usually saved in the strings.xml folder.
            roundIcon = again the starting logo associated with this application but in a round version.
            supportsRt1 = decides if the application can support the right to left layout.
            theme = the theme set for this application. Which is then held in the value, we will visit this file later.
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <!-- this meta dat hold the google api key i have set up with goodle to allow me to track the users location
        this api key is saved in the strings.xml file
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- now we get inot the standard activity declarations
            without these a user wont be able to get onto these activities in app.
            we can declare a label or name in each activity so it comes up on the screen
            -->

        <activity
            android:name=".maps.MapsActivity"
            android:label="@string/title_activity_maps" />

        <!-- here we have the launcher activity
        this is where we declare the activity that will great the user
        a lot of people have some sort of splash art but i chose against it
        -->
        <activity android:name=".Login.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        here we have more declares of the activities in the project
        again with out these i will not be able to call these activities on app

        -->

        <activity android:name=".Login.AuthenticationActivity" />
        <activity android:name=".Activity.FindUserActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <!--
           the main activity has the associated name label saved in string.xml file and the associated theme
        -->
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ChatConfigActivity" />
        <activity android:name=".Activity.EditProfileActivity" />

        <!--
        we have the firebase crashanaltytics meta data that allows the system to detect and tell u in the logcat what has gone worn in app

        this meta data is based on the google plat services and is auto loaded in when making a google maps activity.

        the uses-library is an old repository i was going to add in for a layout but decided to not go down that road.
        kept the library in as it does nothing to the code but might be good later.

        -->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" /> <!-- Required after latest Google Play Services update -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>